* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  
}

img {
  display: block;
  max-width: 100%;
}

.input {
  margin: 0 auto;
  display: block;
}

.timer {
  display: flex;
  justify-content: center;
  
  
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  margin-top: 40px;
  border: solid 4px navy;
  border-radius: 20px;
  background: orange;
  padding: 10px;
  box-shadow: 0 0 0 6px #fff, 0 0 0 12px #888;

}

.value {
  font-size: xxx-large;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
}
